<template>
  <div class="about container text-monospace">
    <h1>Hi there!</h1>
    <hr>

    <h3>How to play</h3>
    <div class="row justify-content-center" id="instructions">
      <div class="col col-md-5">
        <ol>
          <li>Open the settings and set the options you want</li>
          <li>Play the game!</li>
          <li>Review your result</li>
        </ol>
      </div>
    </div>
    <p class="lead">Source at: <a href="https://gitlab.com/codeking997/vue-trivia-game" target="_blank">https://gitlab.com/codeking997/vue-trivia-game</a></p>
  </div>
</template>
<style scoped>
#instructions {
  text-align: left;
}
</style>