<template>
  <div id="play">
      <b-container class="bv-example-row">
        <b-row>
          <b-col sm="6" offset="3">
            <Header
            v-if="!allQuestionsAnswered"
            :counter="index"></Header>
            <Questions
            v-if="questions.length && !allQuestionsAnswered" 
            :oneQuestion="questions[index]"
            :next="next"
            v-on:childToParent="onChildClick"
            />
            <Result v-if="allQuestionsAnswered" :items="questions"/>
          </b-col>
        </b-row>
    </b-container>
 
    
  </div>
</template>

<script>

import Questions from '@/components/Questions.vue'
import Header from '@/components/Header.vue'
import Result from '@/components/Result.vue'
export default {
name: "Play",
components: {
    Questions,
    Header,
    Result
  },
  data () {
        return{
        allQuestionsAnswered: false,
        questions: [],
        index: 0,
        hasSubmitted: false
        
        }
    },
    methods: {
      next() {
        if (this.hasSubmitted === true){
          this.hasSubmitted = false
          if (this.index < this.$apiSettings.amount - 1){
            this.index++
            console.log(this.index)
            console.log(this.$apiSettings.amount)
          }else{
            console.log("hide questions and show results")
            this.allQuestionsAnswered = true
            //hide questions
            //show results
          }
        }else{
          window.alert("you have not sumbitted an answer!")  
        }
        
        
      },
      onChildClick (value){
        if (this.hasSubmitted === false && value !== undefined && this.index < this.$apiSettings.amount) {
          this.questions[this.index]["selected_answer"] = value
          console.log(this.questions[this.index])
          this.hasSubmitted = true
        }else{
          window.alert("you have already submitted an answer, click next!") 
        }
        

      }
    },
    mounted(){
        fetch(`https://opentdb.com/api.php?amount=${this.$apiSettings.amount}&category=${this.$apiSettings.category}&difficulty=${this.$apiSettings.difficulty}`, {
            method: 'get'
        })
        .then((response) => { return response.json() 
        })
        .then((data) => {this.questions = data.results
        })

    }
}
</script>


<style scoped>

</style>