<template>
  <div id="front-page" class="container">

    <div id="logo-container" class="row justify-content-center">
      <transition enter-to-class="animated zoomInDown" @after-enter="animJumboDone = true">
        <b-icon v-show="ready" :class="{'animated tada ': animJumboDone}" icon="question"  font-scale="10"></b-icon>
      </transition>
    </div>

    <div id="title-container" class="row justify-content-center" @mouseover="animateTitle = true" @mouseout="animateTitle = false">
      <h1><b-icon :animation="animateTitle ? 'spin' : null" icon="sunglasses"></b-icon><span class="text-monospace"> Trivia game </span><b-icon :animation="animateTitle ? 'spin-reverse' : null" icon="sunglasses"></b-icon></h1>
    </div>

    <div id="main-menu-container" class="row justify-content-center">
      <div class="d-flex flex-column col-lg-3">
        <b-btn size="lg" to="/play" @mouseover="animatePlayBtn = true" @mouseout="animatePlayBtn = false" >
          <b-icon icon="play" :animation="animatePlayBtn ? 'cylon' : null"></b-icon>
          Play game
        </b-btn>
        <b-btn size="lg" to="/settings" @mouseover="animateSettingsBtn = true" @mouseout="animateSettingsBtn = false">
          <b-icon icon="gear" :animation="animateSettingsBtn ? 'spin' : null"></b-icon>
          Settings
        </b-btn>
      </div>
    </div>

  </div>
</template>

<script>
export default {
name: "FrontPage",
  data() {
    return {
      ready: false,
      animJumboDone: false,
      animateTitle: false,
      animatePlayBtn: false,
      animateSettingsBtn: false,
    }
  },
  mounted() {
      this.ready = true;
  }
}
</script>

<style scoped>
  @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
  .btn{
    margin: 1em;
  }
  #title-container{
    margin-top: 2em;
  }
</style>