<template>
    <div>
    <b-nav tabs>
        <b-nav-item disabled><b>Questions</b></b-nav-item>
        <b-nav-item disabled> {{counter + 1}}/{{$apiSettings.amount}}</b-nav-item>
    </b-nav>
    </div>
</template>

<script>
export default {
    props:{
        counter: Number
    }
}
</script>
