<template>
    <div class="question-box">
    <b-jumbotron lead="Bootstrap v4 Components for Vue.js 2">

            <template v-slot:lead>
            <p v-html="oneQuestion.question"></p>
            </template>

            <hr class="my-4">
            <b-list-group id="list-group">
                <b-list-group-item v-for="(answer, index) in shuffledAnswers" :key="index" 
                @click="selectAnswer(index)" 
                :class="[selectedIndex == index ? 'selected' : '']">
                    <p v-html="answer"></p> 
                    </b-list-group-item>
            </b-list-group>

            

            <b-button v-on:click="emitToParent" variant="primary" href="#">Submit</b-button>
            <b-button @click="next" variant="success" href="#">Next</b-button>

            <p>{{error}}</p>
    </b-jumbotron>
    </div>
</template>

<script>
import _ from 'lodash'
//let setting = 
//console.log();
export default {
    props: {
        oneQuestion: Object,
        next: Function
    },
    data(){
        return {
            selectedIndex: null,
            shuffledAnswers: [],
            selectedAnswerString: undefined,
            error: ""
        }
    },
    computed:{
        answers(){
            let answers = [...this.oneQuestion.incorrect_answers]
            answers.push(this.oneQuestion.correct_answer)
            return answers
        }
    },
    watch: {
        oneQuestion: {
            immediate: true,
            handler(){
                this.selectedIndex = null
                this.shuffleAnswers()
                this.selectedAnswerString = undefined
                this.error = ""
            }
        }
    },
    methods: {
        selectAnswer(index) {
            this.selectedIndex = index
            console.log(index, "se her")
        },
        shuffleAnswers(){
            let answers = [...this.oneQuestion.incorrect_answers, this.oneQuestion.correct_answer]
            this.shuffledAnswers = _.shuffle(answers)
        },
        emitToParent(){
            if (this.selectedIndex === null){
             this.error = "You have not selected an answer!"
            }else{
                this.error = ""
                this.$emit('childToParent', this.shuffledAnswers[this.selectedIndex])
            }
            
        }

    }
}
</script>

<style scoped>
.list-group {
    margin-bottom: 15px,
}

.list-group-item:hover {
    background: #EEE;
    cursor: pointer;
}

.btn {
    margin: 0 5px;
}

.selected {
    background-color: lightcyan;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: red;
}
</style>