<template>
    <div>
        <div class="ResultImage">
            
            <img :src="imagePicker"/>
        </div>
        <div class="resultScreenClass">
            <b-nav tabs class="tabsClass">
                <b-nav-item disabled><b id="resultClass">Result</b></b-nav-item>
                <b-nav-item disabled>points: {{ points }} number of correctly answered: {{ questionTotal }}</b-nav-item>
            </b-nav>
            </div>
            <div>
                
                
  
                <b-table ref="table" :fields="['question', 'selected_answer', 'correct_answer']" class="tableClass" striped hover :items="items"></b-table>

            </div>
        
    </div>
</template>

<script>
export default {
    
    props: [
        
        'items'
    ],
    data() {
      return {
        points: 0, 
        questionTotal: 0
      }
    },
    methods: {
        init(){
            for(const question of this.items){
                    console.log(question);
                    
                    if(question.selected_answer === question.correct_answer){
                        console.log(this.points, 'points')
                        this.points+=10
                        this.questionTotal++
                        console.log(this.questionTotal, "er questions total")
                        
                    }
                }
        }
    },
    watch:{
        items: {
            immediate: true,
            handler() {
               this.init(); 
            }
        }
    }, computed: {
        imagePicker: function(){
            if(this.points==100){
                return require('../assets/100vue.png')
            }else if(this.points>=80){
                return require('../assets/80vue.png')
            }else if(this.points>=40){
                return require('../assets/40vue.png')
            }else if(this.points>=20){
                return require('../assets/20vue.png')
            }
            return require('../assets/20vue.png')
        }
    }
}
</script>
<style>

    .resultScreenClass{
        display: flex;
        justify-content: center;
    }
    .tabsClass{
        display: flex;
        flex-direction: column;
    }
    .tableClass{
        
        padding: 100px;
        margin-top: 40px;
        
        
    }
    
</style>