<template >
  <div id="settings-panel" class="container">
    <div class="row justify-content-center">
      <h2>Settings</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <b-form>
          <b-form-group>
            <b-form-select v-model="settings.category">
              <b-form-select-option :value="0">Any category</b-form-select-option>
              <b-form-select-option v-for="category in categories" :key="category.id" :value="category.id">{{category.name}}</b-form-select-option>
            </b-form-select>
          </b-form-group>
          <b-form-group>
            <b-form-select v-model="settings.difficulty">
              <b-form-select-option :value="0">Any difficulty</b-form-select-option>
              <b-form-select-option v-for="difficulty in ['easy', 'medium', 'hard']" :key="difficulty" :value="difficulty">{{difficulty}}</b-form-select-option>
            </b-form-select>
          </b-form-group>
          <b-form-group>
            <b-form-input v-model="settings.amount" type="number" :max="validation.amountMax" :min="validation.amountMin"></b-form-input>
          </b-form-group>
          <b-btn @click="save">Save settings!</b-btn>
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SettingsPanel",
  data (){
    return{
      settings: Object.assign({}, this.$apiSettings),
      validation: {
        amountMin: 1,
        amountMax: 50
      },
      categories: []
    }
  },
  methods: {
    save(){
      if(this.settings.amount <= this.validation.amountMax && this.settings.amount >= this.validation.amountMin){
        this.$apiSettings.category = this.settings.category;
        this.$apiSettings.amount = this.settings.amount;
        this.$apiSettings.difficulty = this.settings.difficulty;
        this.$router.go(-1);
      }
    }
  },
  mounted() {
    fetch("https://opentdb.com/api_category.php")
        .then(response => response.json())
        .then(data => this.categories = data.trivia_categories);
  }
}
</script>

<style scoped>

</style>
