<template>
  <div id="app">
    <b-navbar>

      <b-navbar-brand to="/" @mouseover="animateTitle = true" @mouseout="animateTitle = false" :class="{'animated jello': animateTitle}">
        <b-icon  :animation="animateTitle ? 'spin' : null" icon="sunglasses"></b-icon>
        Trivia Game
      </b-navbar-brand>

      <b-navbar-nav class="ml-auto">
        <b-nav-item to="/about">
          <b-icon icon="question"></b-icon>
        </b-nav-item>
      </b-navbar-nav>

    </b-navbar>
    <!--
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/settings">Settings</router-link> |
      <router-link to="/play">Play</router-link>
    </div>
    -->
    <router-view/>
  </div>
</template>

<script>
export default {
  data() {
    return {
      animateTitle: false
    }
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.ball {
  width: 60px;
  height: 60px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/soccerball.svg");
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate3d(0, 300px, 0) rotate(0);
  transform: translate3d(0, 300px, 0) rotate(0);
}
</style>
